<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anagramaker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.anagramaker.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anagramaker.AnagramaPalabrasExisten"
            android:label="@string/title_activity_anagrama_palabras_existen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.anagramaker.AnagramasCompleto"
            android:label="@string/title_activity_anagramas_completo"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>